<div>
        <h1 style="text-align: center;">LISTA DE MIS ALQUILERES</h1>
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">Inicio del Alquiler</th>
                    <th scope="col">Finalizacion del Alquiler</th>
                    <th scope="col">Porcentaje de Acme</th>
                </tr>
            </thead>
    
            <tbody>
                <tr class="table-primary" *ngFor="let alquiler of _alquileresRepoService.listadoAlquileresPorPersona">
                    <th scope="row">{{ alquiler.fechaInicio }}</th>
                    <td>{{ alquiler.fechaFin }}</td>
                    <td>{{ alquiler.porcentajeAcme }}</td>
                </tr>
            </tbody>
    
        </table>
    </div>