<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">AcmeB&B</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="verDepartamentos()">Departamentos Disponibles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="verAlquileres()">Mis Alquileres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="verPerfil()">Perfil</a>
            </li>
        </ul>
    </div>
</nav>
<div *ngIf="perfil">
    <app-perfil></app-perfil>
</div>
<div *ngIf="departamentos">
    <div>
        <h1 style="text-align: center;">LISTA PROPIEDADES</h1>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ubicacion</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio por Dia</th>
                </tr>
            </thead>

            <tbody>


                <tr class="table-primary"
                    *ngFor="let propiedad of _propiedadesRepoService.listadoPropiedadesDisponibles">
                    <th scope="row">{{ propiedad.nombre }}</th>
                    <td>{{ propiedad.ubicacion }}</td>
                    <td>{{ propiedad.descripcion }}</td>
                    <td>{{ propiedad.precioXdia }}</td>
                    <td class="btn btn-warning">Alquilar Propiedad</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div *ngIf="alquileres">
    <app-alquileres-list></app-alquileres-list>
</div>