

<div>
    <h1 style="text-align: center;">LISTA USUARIOS</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Dni</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table-primary" *ngFor="let persona of _personaRepoService.listadoPersonas">
                <th scope="row">{{ persona.dni }}</th>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.fechaNacimiento | date: 'dd-MM-yyyy' }}</td>
                <td>{{ persona.tipo }}</td>
                <td class="btn btn-danger" (click)="borrarPersona(persona.id)">Borrar</td>
                <td class="btn btn-warning" (click)="formulario.editarPersona(persona.id)">Editar</td>
            </tr>
        </tbody>

    </table>
    <app-personas-form #formulario></app-personas-form>
</div>