<br>
<div>
    <div class="row">
        <div class="form-group col-3">
            <b> ¡BIENVENIDO!  {{ personaAmostrar.apellido }}, {{ personaAmostrar.nombre }}
            </b>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-3">
            <button class="list-group-item list-group-item-action">
                <b>Apellido:</b> {{ personaAmostrar.apellido }} <br>
            </button>
        </div>

        <div class="form-group col-3">
            <button class="list-group-item list-group-item-action">
                <b>Nombre:</b> {{ personaAmostrar.nombre }} <br>
            </button>
        </div>
    </div>
    <div class="row">
            <div class="form-group col-3">
                <button class="list-group-item list-group-item-action">
                    <b>DNI:</b> {{ personaAmostrar.dni }} <br>
                </button>
            </div>
    
            <div class="form-group col-3">
                <button class="list-group-item list-group-item-action">
                    <b>Fecha de Nacimiento:</b> {{ personaAmostrar.fechaNacimiento | date: 'dd-MM-yyyy' }} <br>
                </button>
            </div>
        </div>
</div>