<div *ngIf="_personasRepoService.personaLogeada.tipo == 'Dueño'">
    <h1 style="text-align: center;">LISTA PROPIEDADES</h1>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="busqueda" placeholder="Buscar">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio por Dia</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table-primary"
                *ngFor="let propiedad of _propiedadesRepoService.listadoPropiedadesXduenio | buscar:busqueda">
                <th scope="row">{{ propiedad.nombre }}</th>
                <td>{{ propiedad.ubicacion }}</td>
                <td>{{ propiedad.descripcion }}</td>
                <td>{{ propiedad.precioXdia }}</td>
                <td><span class="btn btn-outline-success" (click)="verInformacion(propiedad.id)" routerLink="/datos-propiedad">Datos</span></td>
                <td><span class="btn btn-outline-danger" (click)="borrarPropiedad(propiedad.id)">Borrar</span></td>
                <td><span class="btn btn-outline-warning" (click)="formulario.editarPropiedad (propiedad.id)">Editar</span>
                </td>
            </tr>
        </tbody>

    </table>
    <app-propiedades-form #formulario></app-propiedades-form>
</div>

<div *ngIf="_personasRepoService.personaLogeada.tipo == 'Cliente'">
    <h1 style="text-align: center;">LISTA PROPIEDADES</h1>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="busqueda" placeholder="Buscar">
    </div>
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio por Dia</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table-primary"
                *ngFor="let propiedad of _propiedadesRepoService.listadoPropiedades | buscar:busqueda">
                <th scope="row">{{ propiedad.nombre }}</th>
                <td>{{ propiedad.ubicacion }}</td>
                <td>{{ propiedad.descripcion }}</td>
                <td>{{ propiedad.precioXdia }}</td>
                <td><span class="btn btn-outline-success" (click)="verInformacion(propiedad.id)"
                        routerLink="/info-propiedad">
                        Informacion</span></td>
            </tr>

        </tbody>

    </table>
</div>