<div>
    <h1 style="text-align: center;">LISTA USUARIOS</h1>
    <div class="form-group" >
        <input type="text" class="form-control" [(ngModel)]="busqueda" placeholder="Buscar">
    </div>
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Dni</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table-primary" *ngFor="let persona of _personaRepoService.listadoPersonas | buscar:busqueda ">
                <th scope="row">{{ persona.dni }}</th>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.fechaNacimiento | date: 'dd-MM-yyyy' }}</td>
                <td>{{ persona.tipo }}</td>
                <td><span class="btn btn-danger" (click)="borrarPersona(persona.id)"> Borrar</span></td>
            </tr>
        </tbody>

    </table>
    <app-personas-form #formulario></app-personas-form>
</div>