<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">AcmeB&B</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="pantalla-login">Inicio de Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="personas-list">Listado de Personas</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="text-align: center; margin: 100px;"> 
    <h1>AcmeB&B</h1>
    <p>Bienvenido a la página de la inmobiliaria AcmeB&B</p>
  </div>