<!-- PRIMERO DATOS DE LA PRIPIEDAD DE LA CUAL SE VAN A MOSTRAR LOS DATOS -->
<br>
<div class="row">
    <div class="form-group col-1"></div>
    <div class="form-group col-4">
        <H3> DATOS DE LA PROPIEDAD </H3>
    </div>

</div>
<div class="row">
    <div class="form-group col-1"></div>
    <div class="form-group col-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Datos Propiedad</div>
            <div class="card-body">
                <p class="card-text"><b>Nombre:</b> {{_propiedadesRepoService.propiedadAmostrar.nombre}} </p>
                <p class="card-text"><b>Ubicación:</b> {{_propiedadesRepoService.propiedadAmostrar.ubicacion}} </p>
                <p class="card-text"><b>Descripción:</b> {{_propiedadesRepoService.propiedadAmostrar.descripcion}} </p>
                <p class="card-text"><b>Notas:</b> {{_propiedadesRepoService.propiedadAmostrar.notas}} </p>
                <p class="card-text"><b>Precio por Día:</b> {{_propiedadesRepoService.propiedadAmostrar.precioXdia}}
                </p>
            </div>
        </div>
    </div>
    <div class="form-group col-4">
        
    </div>
</div>