<br>
<div>
    <div class="row">
        <div class="form-group col-5">

        </div>
        <div class="form-group col-3">
            <b> ¡BIENVENIDO!   {{ _personaRepoService.personaLogeada.apellido }}, {{ _personaRepoService.personaLogeada.nombre }}
            </b>
        </div>
    </div>
    <div class="row">

        <div class="form-group col-4">

        </div>
        <div class="form-group col-4">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">DNI</span>
                </div>
                <input ng-readonly="edicion == false" name="personaDni" [readonly]="!edicion"
                    [(ngModel)]="_personaRepoService.personaLogeada.dni" type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                </div>
                <input ng-readonly="edicion == true" name="personaNombre" [readonly]="!edicion"
                    [(ngModel)]="_personaRepoService.personaLogeada.nombre" type="text" class="form-control"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
                </div>
                <input name="personaApellido" [(ngModel)]="_personaRepoService.personaLogeada.apellido" [readonly]="!edicion" type="text"
                    class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de Nacimiento</span>
                </div>
                <input name="personaFechaNacimiento" [(ngModel)]="_personaRepoService.personaLogeada.fechaNacimiento" [readonly]="!edicion"
                    type="date" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                </div>
                <select [disabled]="!edicion" class="custom-select" name="personaTipo" id="inputGroupSelect01"
                    [(ngModel)]="_personaRepoService.personaLogeada.tipo">
                    <option [ngValue]="null" disabled>Seleccione su Rol</option>
                    <option value="Dueño">Dueño</option>
                    <option value="Cliente">Cliente</option>
                </select>
            </div>
            <button class="btn btn-warning" *ngIf="edicion == false" (click)="modoEdicion()">Editar</button>
            <button routerLink="/" class="btn btn-danger float-right" (click)="borrarPersona(_personaRepoService.personaLogeada.id)">Eliminar</button>
            <button class="btn btn-success" *ngIf="edicion == true" (click)="editarPersona()">Confirmar</button>
        </div>
    </div>
</div>