
<br>
<br>
<div class="row">
    <div class="form-group col-4 ">

    </div>
    <div style="border: solid;" class="form-group col-4">
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Ingrese su Dni</label>
            <input type="text" class="form-control" [(ngModel)]="DniIngresado" placeholder="DNI" id="inputDefault">
        </div>
        <div style="text-align: center;">
            <button type="button" class="btn btn-primary espacio" (click)="VerificarId()" routerLink="/">Acceder</button>
        </div>
    </div>
</div>