<!-- NAV VAR SIN REGISTRO -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="_personasRepoService.personaLogeada.tipo == ''">
    <a class="navbar-brand" routerLink="/">AcmeB&B</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="pantalla-login" >Inicio de Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="personas-list">Listado de Personas</a>
            </li>
        </ul>
        <ul class="form-inline my-2 my-lg-0">
            <li class="btn btn-secondary my-2 my-sm-0" routerLink="/config-acme" type="submit">
                Configuracion
            </li>
        </ul>
    </div>
</nav>
<!-- NAV VAR PARA REGISTRO DE CLIENTE -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
    *ngIf=" _personasRepoService.personaLogeada.tipo == 'Cliente'">
    <a class="navbar-brand" routerLink="/">AcmeB&B</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="propiedades-list">Propiedades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="alquileres-list">Mis Alquileres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="perfil">Perfil</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-danger my-2 my-sm-0" routerLink="/" type="submit" (click)="CerrarSesion()">Cerrar
                Sesión</button>
        </form>
    </div>
</nav>

<!-- NAV VAR PARA REGISTRO DE DUEÑO -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="_personasRepoService.personaLogeada.tipo == 'Dueño'">
    <a class="navbar-brand" routerLink="/">AcmeB&B</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="propiedades-list">Mis Propiedades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="perfil">Mi Perfil</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-danger my-2 my-sm-0" type="submit" (click)="CerrarSesion()" routerLink="/">Cerrar
                Sesión</button>
        </form>
    </div>
</nav>